### Note
* Instructions have been included for each segment. You do not have to follow them exactly, but they are included to help you think through the steps.

In [1]:
# Dependencies and Setup
import pandas as pd
import numpy as np

# File to Load (Remember to Change These)
game_purchases = "Resources/purchase_data.csv"

# Read Purchasing File and store into Pandas data frame
game_purchases_df = pd.read_csv(game_purchases)

game_purchases_df.head()

,Purchase ID,SN,Age,Gender,Item ID,Item Name,Price
0,0,Lisim78,20,Male,108,"Extraction, Quickblade Of Trembling Hands",3.53
1,1,Lisovynya38,40,Male,143,Frenzied Scimitar,1.56
2,2,Ithergue48,24,Male,92,Final Critic,4.88
3,3,Chamassasya86,24,Male,100,Blindscythe,3.27
4,4,Iskosia90,23,Male,131,Fury,1.44

## Player Count

* Display the total number of players

In [2]:
total_players = len(pd.unique(game_purchases_df['SN']))
print(f"Total # of Players: {total_players}")

Total # of Players: 576

In [3]:
game_purchases_df.columns

Index(['Purchase ID', 'SN', 'Age', 'Gender', 'Item ID', 'Item Name', 'Price'], dtype='object')

In [4]:
game_purchases_df.dtypes

Purchase ID      int64
SN              object
Age              int64
Gender          object
Item ID          int64
Item Name       object
Price          float64
dtype: object

## Purchasing Analysis (Total)

* Run basic calculations to obtain number of unique items, average price, etc.


* Create a summary data frame to hold the results


* Optional: give the displayed data cleaner formatting


* Display the summary data frame

In [5]:
#Get # of unique purchasable items
unique_items = game_purchases_df['Item Name'].nunique(dropna=True)

unique_items

179

In [6]:
#Find average price of items
average_price = round(game_purchases_df['Price'].mean(),2)
average_price

3.05

In [7]:
#Find the total number of purchases
purchase_count = game_purchases_df['Purchase ID'].count()
purchase_count

780

In [8]:
#Find the total amount of revenue generated by purchases
total_revenue = game_purchases_df['Price'].sum()
total_revenue

2379.77

In [10]:
#Create purchase analysis DataFrame
purchase_analysis_df = pd.DataFrame({"Number of Unique Items": [unique_items],
                                     "Average Price": [average_price],
                                     "Number of Purchases": [purchase_count],
                                     "Total Revenue": [total_revenue]})
purchase_analysis_df

   Number of Unique Items  Average Price  Number of Purchases  Total Revenue
0                     179           3.05                  780        2379.77

In [ ]:
#Use .map() to change to $

## Gender Demographics

* Percentage and Count of Male Players


* Percentage and Count of Female Players


* Percentage and Count of Other / Non-Disclosed

In [ ]:
#Get # of Unique Screen Names only
SN_count = game_purchases_df['SN'].nunique(dropna=True)
SN_count

In [ ]:
#Create new Data Frame with accurate count of Users by Removing Duplicate Screen Names
game_purchasesSNlist_df = game_purchases_df[~game_purchases_df['SN'].astype(str).duplicated()]
game_purchasesSNlist_df

In [ ]:
gender_count = game_purchasesSNlist_df["Gender"].value_counts()
gender_count

In [ ]:
#gather number of Males players
male_count = gender_count['Male']
male_count

percent_male = round((male_count/SN_count) * 100,2)
percent_male

In [ ]:
#gather number of Female players
female_count = gender_count['Female']
female_count

percent_female = round((female_count/SN_count) * 100,2)
percent_female

In [ ]:
#gather number of Other/Non-Disclosed players
other_count = gender_count['Other / Non-Disclosed']
other_count

percent_other = round((other_count/SN_count) * 100,2)
percent_other

In [ ]:
gender_demo_df = pd.DataFrame({"Total Count": [male_count,female_count,other_count],
                                     "Percentage of Players": [percent_male,percent_female,percent_other]})
gender_demo_rename_df = gender_demo_df.rename(index={0: 'Male',1: 'Female',2:'Other / Non-Disclosed'})
gender_demo_rename_df

In [ ]:
#Ask Richa how to add a % to variable export
# use .map()


## Purchasing Analysis (Gender)

* Run basic calculations to obtain purchase count, avg. purchase price, avg. purchase total per person etc. by gender




* Create a summary data frame to hold the results


* Optional: give the displayed data cleaner formatting


* Display the summary data frame

In [ ]:
#Find the purchase count by gender
game_purchases_df['Purchase ID'].count()

In [ ]:
#Find avg. purchase price by gender
purchase_count = game_purchases_df.groupby(['Gender']).count()['Price']
purchase_count

In [ ]:
#Find avg. purchase total per person by gender
avg_purchase_price = round(game_purchases_df.groupby(['Gender']).mean()['Price'],2)
avg_purchase_price

In [ ]:
total_purchase_price = round(game_purchases_df.groupby(['Gender']).sum()['Price'],2)
total_purchase_price

In [ ]:
avg_tot_person = round(total_purchase_price / gender_count, 2)
avg_tot_person

In [ ]:
#Create DataFrame to hold the Results
purchase_analysis_df = pd.DataFrame({"Purchase Count": purchase_count,
                                     "Average Purchase Price": avg_purchase_price,
                                    "Total Purchase Value": total_purchase_price,
                                    "Avg Total Purchase per Person": avg_tot_person})
purchase_analysis_final_df = purchase_analysis_df.rename(index={0: 'Female',1: 'Male',
                                                                 2: 'Other / Non-Disclosed'})
purchase_analysis_final_df

## Age Demographics

* Establish bins for ages


* Categorize the existing players using the age bins. Hint: use pd.cut()


* Calculate the numbers and percentages by age group


* Create a summary data frame to hold the results


* Optional: round the percentage column to two decimal points


* Display Age Demographics Table

In [ ]:
age_bin =[0,9.9,14.9,19.9,24.9,29.9,34.9,39.9,999]
group_name = ["<10","10-14","15-19","20-24","25-29","30-34","35-39","40+"]

game_purchasesSNlist_df["Age Ranges"] = pd.cut(game_purchasesSNlist_df["Age"],age_bin,labels=group_name)
game_purchasesSNlist_df

In [ ]:
total_count = game_purchasesSNlist_df['Age Ranges'].value_counts()
total_count

In [ ]:
Percent_Players = round((total_count / SN_count) * 100,2)
Percent_Players

In [ ]:
age_demo_df = pd.DataFrame({"Total Count": total_count,
                                     "Percentage of Players": Percent_Players})
age_demo_df = age_demo_df.sort_index()
age_demo_df

In [ ]:
#Use .map() to add %

## Purchasing Analysis (Age)

* Bin the purchase_data data frame by age


* Run basic calculations to obtain purchase count, avg. purchase price, avg. purchase total per person etc. in the table below


* Create a summary data frame to hold the results


* Optional: give the displayed data cleaner formatting


* Display the summary data frame

In [ ]:
game_purchases_df["Age Ranges"] = pd.cut(game_purchases_df["Age"],age_bin,labels=group_name)
game_purchases_df

In [ ]:
purchase_count_age = round(game_purchases_df.groupby(['Age Ranges']).count()['Price'],2)
purchase_count_age

In [ ]:
purchase_avg_age = round(game_purchases_df.groupby(['Age Ranges']).mean()['Price'],2)
purchase_avg_age

In [ ]:
purchase_total_age = round(game_purchases_df.groupby(['Age Ranges']).sum()['Price'],2)
purchase_total_age

In [ ]:
avg_total_purchase_person = round((purchase_total_age / total_count),2)
avg_total_purchase_person

In [ ]:
purchase_analysis_age_df = pd.DataFrame({"Purchase Count": purchase_count_age,
                                     "Average Purchase Price": purchase_avg_age, 
                                         "Total Purchase Value": purchase_total_age,
                                         "Avg. Total Purchase Per Person": avg_total_purchase_person})
purchase_analysis_age_df

In [ ]:
# .map and format

## Top Spenders

* Run basic calculations to obtain the results in the table below


* Create a summary data frame to hold the results


* Sort the total purchase value column in descending order


* Optional: give the displayed data cleaner formatting


* Display a preview of the summary data frame

In [ ]:
purchase_countSN = game_purchases_df.groupby('SN').count()["Price"]

## Most Popular Items

* Retrieve the Item ID, Item Name, and Item Price columns


* Group by Item ID and Item Name. Perform calculations to obtain purchase count, average item price, and total purchase value


* Create a summary data frame to hold the results


* Sort the purchase count column in descending order


* Optional: give the displayed data cleaner formatting


* Display a preview of the summary data frame

In [ ]:
pop_item = game_purchases_df.loc[:,['Item ID','Item Name','Price']]
pop_item

In [ ]:
total_purchase_count = pop_item.groupby(['Item ID','Item Name']).count()['Price']
total_purchase_count

## Most Profitable Items

* Sort the above table by total purchase value in descending order


* Optional: give the displayed data cleaner formatting


* Display a preview of the data frame

In [ ]:
# use the previous DataFrame, use the .sort() on the Total Purchase Value