### Note
* Instructions have been included for each segment. You do not have to follow them exactly, but they are included to help you think through the steps.

In [12]:
# Dependencies and Setup
import pandas as pd
import numpy as np

# File to Load (Remember to Change These)
game_purchases = "Resources/purchase_data.csv"

# Read Purchasing File and store into Pandas data frame
game_purchases_df = pd.read_csv(game_purchases)

game_purchases_df.head()

,Purchase ID,SN,Age,Gender,Item ID,Item Name,Price
0,0,Lisim78,20,Male,108,"Extraction, Quickblade Of Trembling Hands",3.53
1,1,Lisovynya38,40,Male,143,Frenzied Scimitar,1.56
2,2,Ithergue48,24,Male,92,Final Critic,4.88
3,3,Chamassasya86,24,Male,100,Blindscythe,3.27
4,4,Iskosia90,23,Male,131,Fury,1.44

## Player Count

* Display the total number of players

In [13]:
total_players = len(pd.unique(game_purchases_df['SN']))
print(f"Total # of Players: {total_players}")

Total # of Players: 576

In [14]:
game_purchases_df.columns

Index(['Purchase ID', 'SN', 'Age', 'Gender', 'Item ID', 'Item Name', 'Price'], dtype='object')

In [4]:
game_purchases_df.dtypes

Purchase ID      int64
SN              object
Age              int64
Gender          object
Item ID          int64
Item Name       object
Price          float64
dtype: object

## Purchasing Analysis (Total)

* Run basic calculations to obtain number of unique items, average price, etc.


* Create a summary data frame to hold the results


* Optional: give the displayed data cleaner formatting


* Display the summary data frame

In [15]:
#Get # of unique purchasable items
unique_items = game_purchases_df['Item Name'].nunique(dropna=True)

unique_items

179

In [16]:
#Find average price of items
average_price = round(game_purchases_df['Price'].mean(),2)
average_price

3.05

In [17]:
#Find the total number of purchases
purchase_count = game_purchases_df['Purchase ID'].count()
purchase_count

780

In [18]:
#Find the total amount of revenue generated by purchases
total_revenue = game_purchases_df['Price'].sum()
total_revenue

2379.77

In [20]:
#Create purchase analysis DataFrame
purchase_analysis_df = pd.DataFrame({"Number of Unique Items": [unique_items],
                                     "Average Price": [average_price],
                                     "Number of Purchases": [purchase_count],
                                     "Total Revenue": [total_revenue]})
purchase_analysis_df

   Number of Unique Items  Average Price  Number of Purchases  Total Revenue
0                     179           3.05                  780        2379.77

In [22]:
#Use .map() to change to $
purchase_analysis_df["Number of Unique Items"] = purchase_analysis_df["Number of Unique Items"].map("${:.2f}".format)
purchase_analysis_df["Average Price"] = purchase_analysis_df["Average Price"].map("${:.2f}".format)
purchase_analysis_df["Total Revenue"] = purchase_analysis_df["Total Revenue"].map("${:.2f}".format)

purchase_analysis_df.head()

  Number of Unique Items Average Price  Number of Purchases Total Revenue
0                $179.00         $3.05                  780      $2379.77

## Gender Demographics

* Percentage and Count of Male Players


* Percentage and Count of Female Players


* Percentage and Count of Other / Non-Disclosed

In [23]:
#Get # of Unique Screen Names only
SN_count = game_purchases_df['SN'].nunique(dropna=True)
SN_count

576

In [24]:
#Create new Data Frame with accurate count of Users by Removing Duplicate Screen Names
game_purchasesSNlist_df = game_purchases_df[~game_purchases_df['SN'].astype(str).duplicated()]
game_purchasesSNlist_df

,Purchase ID,SN,Age,Gender,Item ID,Item Name,Price
0,0,Lisim78,20,Male,108,"Extraction, Quickblade Of Trembling Hands",3.53
1,1,Lisovynya38,40,Male,143,Frenzied Scimitar,1.56
2,2,Ithergue48,24,Male,92,Final Critic,4.88
3,3,Chamassasya86,24,Male,100,Blindscythe,3.27
4,4,Iskosia90,23,Male,131,Fury,1.44
...,...,...,...,...,...,...,...
773,773,Hala31,21,Male,19,"Pursuit, Cudgel of Necromancy",1.02
774,774,Jiskjask80,11,Male,92,Final Critic,4.19
775,775,Aethedru70,21,Female,60,Wolf,3.54
777,777,Yathecal72,20,Male,67,"Celeste, Incarnation of the Corrupted",3.46
778,778,Sisur91,7,Male,92,Final Critic,4.19

In [25]:
gender_count = game_purchasesSNlist_df["Gender"].value_counts()
gender_count

Male                     484
Female                    81
Other / Non-Disclosed     11
Name: Gender, dtype: int64

In [26]:
#gather number of Males players
male_count = gender_count['Male']
male_count

percent_male = round((male_count/SN_count) * 100,2)
percent_male

84.03

In [27]:
#gather number of Female players
female_count = gender_count['Female']
female_count

percent_female = round((female_count/SN_count) * 100,2)
percent_female

14.06

In [28]:
#gather number of Other/Non-Disclosed players
other_count = gender_count['Other / Non-Disclosed']
other_count

percent_other = round((other_count/SN_count) * 100,2)
percent_other

1.91

In [29]:
gender_demo_df = pd.DataFrame({"Total Count": [male_count,female_count,other_count],
                                     "Percentage of Players": [percent_male,percent_female,percent_other]})
gender_demo_rename_df = gender_demo_df.rename(index={0: 'Male',1: 'Female',2:'Other / Non-Disclosed'})
gender_demo_rename_df

                       Total Count  Percentage of Players
Male                           484                  84.03
Female                          81                  14.06
Other / Non-Disclosed           11                   1.91

In [30]:
#Use .map() to add formatting
gender_demo_rename_df["Total Count"] = gender_demo_rename_df["Total Count"].map("${:.2f}".format)
gender_demo_rename_df["Percentage of Players"] = gender_demo_rename_df["Percentage of Players"].map("{:.2f}%".format)

gender_demo_rename_df.head()

                      Total Count Percentage of Players
Male                      $484.00                84.03%
Female                     $81.00                14.06%
Other / Non-Disclosed      $11.00                 1.91%


## Purchasing Analysis (Gender)

* Run basic calculations to obtain purchase count, avg. purchase price, avg. purchase total per person etc. by gender




* Create a summary data frame to hold the results


* Optional: give the displayed data cleaner formatting


* Display the summary data frame

In [33]:
#Find the purchase count by gender
game_purchases_df['Purchase ID'].count()

780

In [34]:
#Find avg. purchase price by gender
purchase_count = game_purchases_df.groupby(['Gender']).count()['Price']
purchase_count

Gender
Female                   113
Male                     652
Other / Non-Disclosed     15
Name: Price, dtype: int64

In [35]:
#Find avg. purchase total per person by gender
avg_purchase_price = round(game_purchases_df.groupby(['Gender']).mean()['Price'],2)
avg_purchase_price

Gender
Female                   3.20
Male                     3.02
Other / Non-Disclosed    3.35
Name: Price, dtype: float64

In [36]:
total_purchase_price = round(game_purchases_df.groupby(['Gender']).sum()['Price'],2)
total_purchase_price

Gender
Female                    361.94
Male                     1967.64
Other / Non-Disclosed      50.19
Name: Price, dtype: float64

In [37]:
avg_tot_person = round(total_purchase_price / gender_count, 2)
avg_tot_person

Female                   4.47
Male                     4.07
Other / Non-Disclosed    4.56
dtype: float64

In [45]:
#Create DataFrame to hold the Results
purchase_analysis_df = pd.DataFrame({"Purchase Count": purchase_count,
                                     "Average Purchase Price": avg_purchase_price,
                                    "Total Purchase Value": total_purchase_price,
                                    "Avg Total Purchase per Person": avg_tot_person})
purchase_analysis_final_df = purchase_analysis_df.rename(index={0: 'Female',1: 'Male',
                                                                 2: 'Other / Non-Disclosed'})
purchase_analysis_final_df

,Purchase Count,Average Purchase Price,Total Purchase Value,Avg Total Purchase per Person
Gender,,,,
Female,113,3.20,361.94,4.47
Male,652,3.02,1967.64,4.07
Other / Non-Disclosed,15,3.35,50.19,4.56

In [46]:
#Use .map to add formatting $
purchase_analysis_final_df["Average Purchase Price"] = purchase_analysis_final_df["Average Purchase Price"].map("${:.2f}".format)
purchase_analysis_final_df["Total Purchase Value"] = purchase_analysis_final_df["Total Purchase Value"].map("${:,.2f}".format)
purchase_analysis_final_df["Avg Total Purchase per Person"] = purchase_analysis_final_df["Avg Total Purchase per Person"].map("${:.2f}".format)

purchase_analysis_final_df.head()

,Purchase Count,Average Purchase Price,Total Purchase Value,Avg Total Purchase per Person
Gender,,,,
Female,113,$3.20,$361.94,$4.47
Male,652,$3.02,"$1,967.64",$4.07
Other / Non-Disclosed,15,$3.35,$50.19,$4.56

## Age Demographics

* Establish bins for ages


* Categorize the existing players using the age bins. Hint: use pd.cut()


* Calculate the numbers and percentages by age group


* Create a summary data frame to hold the results


* Optional: round the percentage column to two decimal points


* Display Age Demographics Table

In [48]:
age_bin =[0,9.9,14.9,19.9,24.9,29.9,34.9,39.9,999]
group_name = ["<10","10-14","15-19","20-24","25-29","30-34","35-39","40+"]

game_purchasesSNlist_df["Age Ranges"] = pd.cut(game_purchasesSNlist_df["Age"],age_bin,labels=group_name)
game_purchasesSNlist_df

/Users/bt4ever/opt/anaconda3/envs/PythonData/lib/python3.6/site-packages/ipykernel_launcher.py:4: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  after removing the cwd from sys.path.

,Purchase ID,SN,Age,Gender,Item ID,Item Name,Price,Age Ranges
0,0,Lisim78,20,Male,108,"Extraction, Quickblade Of Trembling Hands",3.53,20-24
1,1,Lisovynya38,40,Male,143,Frenzied Scimitar,1.56,40+
2,2,Ithergue48,24,Male,92,Final Critic,4.88,20-24
3,3,Chamassasya86,24,Male,100,Blindscythe,3.27,20-24
4,4,Iskosia90,23,Male,131,Fury,1.44,20-24
...,...,...,...,...,...,...,...,...
773,773,Hala31,21,Male,19,"Pursuit, Cudgel of Necromancy",1.02,20-24
774,774,Jiskjask80,11,Male,92,Final Critic,4.19,10-14
775,775,Aethedru70,21,Female,60,Wolf,3.54,20-24
777,777,Yathecal72,20,Male,67,"Celeste, Incarnation of the Corrupted",3.46,20-24
778,778,Sisur91,7,Male,92,Final Critic,4.19,<10

In [49]:
total_count = game_purchasesSNlist_df['Age Ranges'].value_counts()
total_count

20-24    258
15-19    107
25-29     77
30-34     52
35-39     31
10-14     22
<10       17
40+       12
Name: Age Ranges, dtype: int64

In [50]:
Percent_Players = round((total_count / SN_count) * 100,2)
Percent_Players

20-24    44.79
15-19    18.58
25-29    13.37
30-34     9.03
35-39     5.38
10-14     3.82
<10       2.95
40+       2.08
Name: Age Ranges, dtype: float64

In [51]:
age_demo_df = pd.DataFrame({"Total Count": total_count,
                                     "Percentage of Players": Percent_Players})
age_demo_df = age_demo_df.sort_index()
age_demo_df

       Total Count  Percentage of Players
<10             17                   2.95
10-14           22                   3.82
15-19          107                  18.58
20-24          258                  44.79
25-29           77                  13.37
30-34           52                   9.03
35-39           31                   5.38
40+             12                   2.08

In [54]:
#Use .map() to add %
age_demo_df["Percentage of Players"] = age_demo_df["Percentage of Players"].map("{:.2f}%".format)
age_demo_df

       Total Count Percentage of Players
<10             17                 2.95%
10-14           22                 3.82%
15-19          107                18.58%
20-24          258                44.79%
25-29           77                13.37%
30-34           52                 9.03%
35-39           31                 5.38%
40+             12                 2.08%

## Purchasing Analysis (Age)

* Bin the purchase_data data frame by age


* Run basic calculations to obtain purchase count, avg. purchase price, avg. purchase total per person etc. in the table below


* Create a summary data frame to hold the results


* Optional: give the displayed data cleaner formatting


* Display the summary data frame

In [55]:
game_purchases_df["Age Ranges"] = pd.cut(game_purchases_df["Age"],age_bin,labels=group_name)
game_purchases_df

,Purchase ID,SN,Age,Gender,Item ID,Item Name,Price,Age Ranges
0,0,Lisim78,20,Male,108,"Extraction, Quickblade Of Trembling Hands",3.53,20-24
1,1,Lisovynya38,40,Male,143,Frenzied Scimitar,1.56,40+
2,2,Ithergue48,24,Male,92,Final Critic,4.88,20-24
3,3,Chamassasya86,24,Male,100,Blindscythe,3.27,20-24
4,4,Iskosia90,23,Male,131,Fury,1.44,20-24
...,...,...,...,...,...,...,...,...
775,775,Aethedru70,21,Female,60,Wolf,3.54,20-24
776,776,Iral74,21,Male,164,Exiled Doomblade,1.63,20-24
777,777,Yathecal72,20,Male,67,"Celeste, Incarnation of the Corrupted",3.46,20-24
778,778,Sisur91,7,Male,92,Final Critic,4.19,<10
779,779,Ennrian78,24,Male,50,Dawn,4.60,20-24

In [56]:
purchase_count_age = round(game_purchases_df.groupby(['Age Ranges']).count()['Price'],2)
purchase_count_age

Age Ranges
<10       23
10-14     28
15-19    136
20-24    365
25-29    101
30-34     73
35-39     41
40+       13
Name: Price, dtype: int64

In [57]:
purchase_avg_age = round(game_purchases_df.groupby(['Age Ranges']).mean()['Price'],2)
purchase_avg_age

Age Ranges
<10      3.35
10-14    2.96
15-19    3.04
20-24    3.05
25-29    2.90
30-34    2.93
35-39    3.60
40+      2.94
Name: Price, dtype: float64

In [58]:
purchase_total_age = round(game_purchases_df.groupby(['Age Ranges']).sum()['Price'],2)
purchase_total_age

Age Ranges
<10        77.13
10-14      82.78
15-19     412.89
20-24    1114.06
25-29     293.00
30-34     214.00
35-39     147.67
40+        38.24
Name: Price, dtype: float64

In [59]:
avg_total_purchase_person = round((purchase_total_age / total_count),2)
avg_total_purchase_person

<10      4.54
10-14    3.76
15-19    3.86
20-24    4.32
25-29    3.81
30-34    4.12
35-39    4.76
40+      3.19
dtype: float64

In [62]:
purchase_analysis_age_df = pd.DataFrame({"Purchase Count": purchase_count_age,
                                     "Average Purchase Price": purchase_avg_age, 
                                         "Total Purchase Value": purchase_total_age,
                                         "Avg. Total Purchase Per Person": avg_total_purchase_person})
purchase_analysis_age_df

,Purchase Count,Average Purchase Price,Total Purchase Value,Avg. Total Purchase Per Person
<10,23,3.35,77.13,4.54
10-14,28,2.96,82.78,3.76
15-19,136,3.04,412.89,3.86
20-24,365,3.05,1114.06,4.32
25-29,101,2.90,293.00,3.81
30-34,73,2.93,214.00,4.12
35-39,41,3.60,147.67,4.76
40+,13,2.94,38.24,3.19

In [63]:
# .map and format
purchase_analysis_age_df["Average Purchase Price"] = purchase_analysis_age_df["Average Purchase Price"].map("${:.2f}".format)
purchase_analysis_age_df["Total Purchase Value"] = purchase_analysis_age_df["Total Purchase Value"].map("${:,.2f}".format)
purchase_analysis_age_df["Avg. Total Purchase Per Person"] = purchase_analysis_age_df["Avg. Total Purchase Per Person"].map("${:.2f}".format)

purchase_analysis_age_df

,Purchase Count,Average Purchase Price,Total Purchase Value,Avg. Total Purchase Per Person
<10,23,$3.35,$77.13,$4.54
10-14,28,$2.96,$82.78,$3.76
15-19,136,$3.04,$412.89,$3.86
20-24,365,$3.05,"$1,114.06",$4.32
25-29,101,$2.90,$293.00,$3.81
30-34,73,$2.93,$214.00,$4.12
35-39,41,$3.60,$147.67,$4.76
40+,13,$2.94,$38.24,$3.19

## Top Spenders

* Run basic calculations to obtain the results in the table below


* Create a summary data frame to hold the results


* Sort the total purchase value column in descending order


* Optional: give the displayed data cleaner formatting


* Display a preview of the summary data frame

In [31]:
purchase_countSN = game_purchases_df.groupby('SN').count()["Price"]
purchase_countSN

SN
Adairialis76     1
Adastirin33      1
Aeda94           1
Aela59           1
Aelaria33        1
                ..
Yathecal82       3
Yathedeu43       2
Yoishirrala98    1
Zhisrisu83       2
Zontibe81        3
Name: Price, Length: 576, dtype: int64

In [32]:
avg_purchase_priceSN = game_purchases_df.groupby('SN').mean()["Price"]
avg_purchase_priceSN

SN
Adairialis76     2.280000
Adastirin33      4.480000
Aeda94           4.910000
Aela59           4.320000
Aelaria33        1.790000
                   ...
Yathecal82       2.073333
Yathedeu43       3.010000
Yoishirrala98    4.580000
Zhisrisu83       3.945000
Zontibe81        2.676667
Name: Price, Length: 576, dtype: float64

In [64]:
total_purchase_value = game_purchases_df.groupby('SN').sum()["Price"]
total_purchase_value

SN
Adairialis76     2.28
Adastirin33      4.48
Aeda94           4.91
Aela59           4.32
Aelaria33        1.79
                 ...
Yathecal82       6.22
Yathedeu43       6.02
Yoishirrala98    4.58
Zhisrisu83       7.89
Zontibe81        8.03
Name: Price, Length: 576, dtype: float64

## Most Popular Items

* Retrieve the Item ID, Item Name, and Item Price columns


* Group by Item ID and Item Name. Perform calculations to obtain purchase count, average item price, and total purchase value


* Create a summary data frame to hold the results


* Sort the purchase count column in descending order


* Optional: give the displayed data cleaner formatting


* Display a preview of the summary data frame

In [ ]:
pop_item = game_purchases_df.loc[:,['Item ID','Item Name','Price']]
pop_item

In [ ]:
total_purchase_count = pop_item.groupby(['Item ID','Item Name']).count()['Price']
total_purchase_count

## Most Profitable Items

* Sort the above table by total purchase value in descending order


* Optional: give the displayed data cleaner formatting


* Display a preview of the data frame

In [ ]:
# use the previous DataFrame, use the .sort() on the Total Purchase Value